<!-- Default form register -->
<form class="text-center px-4" [formGroup]="registerForm" (ngSubmit)="registerUser()">

    <p class="h4 mb-4">Registrate</p>

    <div class="form-row mb-4">
        <div class="col">
            <!-- First name -->
            <input formControlName="name" type="text" id="defaultRegisterFormFirstName" class="form-control"
                placeholder="Nombre">
        </div>
        <div class="col">
            <!-- Last name -->
            <input formControlName="lastname" type="text" id="defaultRegisterFormLastName" class="form-control"
                placeholder="Apellido">
        </div>
    </div>

    <!-- Username -->
    <input formControlName="username" type="text" id="defaultRegisterFormEmail" class="form-control mb-4"
        placeholder="Usuario">

    <!-- Password -->
    <input formControlName="password" type="password" id="defaultRegisterFormPassword" class="form-control"
        placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock">
    <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
        At least 8 characters and 1 digit
    </small>


    <!-- Sign up button -->
    <button mdbBtn color="deep-orange" block="true" class="my-4" type="submit">Registrarse</button>

    <!-- Register -->
    <p>¿Ya tenes una cuenta?
        <a (click)="changeMode.emit('LOGIN')" class="deep-orange-text">Inicia sesión</a>
    </p>

</form>
<!-- Default form register -->