<div class="container-fluid" *ngIf="meetup">
    <div class="row d-flex justify-content-center no-gutters">

        <!-- OVERVIEW DESKTOP -->
        <mdb-card class="col-xl-8 mt-3 d-none d-lg-block">
            <div class="row no-gutters">

                <!-- Cover event -->
                <div class="col-12 col-lg-8">
                    <img src="../../../../../assets/images/eventCover.jpeg" class="img-fluid w-100"
                        alt="Responsive image">
                </div>
                <!-- Title, Date and Organizer -->
                <div class="col-12 col-lg-4">

                    <div class="p-3">

                        <h5 class="h5-responsive my-3">{{meetup.date | date: 'MMM dd'}}</h5>
                        <h4 class="h4-responsive my-3 font-weight-bold">{{meetup.title}}</h4>

                        <p class="grey-text mb-0">
                            por {{meetup.organizer}}
                        </p>
                    </div>
                </div>

            </div>
        </mdb-card>

        <mdb-card class="col-xl-8 d-none d-lg-block">
            <div class="row px-4">
                <div class="col-lg-8 w-100">
                    <mdb-icon class="mr-3" size="lg" far icon="share-square" style="line-height:60px"></mdb-icon>
                    <!-- <mdb-icon size="lg" fas icon="heart"></mdb-icon> -->
                    <mdb-icon size="lg" far icon="heart" style="line-height:60px"></mdb-icon>
                </div>
                <div class="col-lg-4">
                    <button *ngIf="canCheckin" (click)="checkIn()"
                        class="w-75 deep-orange darken-1 white-text font-weight-bold" mdbBtn>Check-In</button>

                    <button *ngIf="showChecked" class="w-100 deep-orange darken-1 white-text font-weight-bold disabled"
                        mdbBtn>Asististe</button>

                    <!-- Attend logged user -->
                    <button *ngIf="isLogged && canAttend" (click)="attend()"
                        class="w-75 deep-orange darken-1 white-text font-weight-bold" mdbBtn>Asistiré</button>

                    <!-- Attend not logged user -->
                    <button *ngIf="!isLogged && canAttend" (click)="openLoginModal()"
                        class="w-75 deep-orange darken-1 white-text font-weight-bold" mdbBtn>Asistiré</button>

                    <button *ngIf="showAttending"
                        class="w-100 deep-orange darken-1 white-text font-weight-bold disabled" mdbBtn>Anotado</button>

                    <button *ngIf="hasNotAttended"
                        class="w-100 deep-orange darken-1 white-text font-weight-bold disabled" mdbBtn>No
                        asististe</button>

                    <button *ngIf="expiredMeetup"
                        class="w-100 deep-orange darken-1 white-text font-weight-bold disabled" mdbBtn>Expirada</button>
                </div>
            </div>
        </mdb-card>

        <!-- DESKTOP CONTENT -->
        <mdb-card class="col-xl-8 d-none d-lg-block py-5 mb-5">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row d-flex justify-content-center">
                        <div class="col-12 col-lg-8">
                            <h5 class="font-weight-bold">{{meetup.description}}</h5>
                            <h4 class="mt-3 h4-responsive font-weight-bold">Acerca de esta meetup</h4>
                            <p>{{meetup.aboutMeetup}}</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <h6 class="h6-responsive font-weight-bold">Fecha</h6>
                    <div>
                        <p class="mb-0">{{meetup.date | date: 'd, MMMM d, y'}}</p>
                    </div>

                    <h6 class="mt-5 h6-responsive font-weight-bold">Ubicación</h6>
                    <div>
                        <p class="mb-0">{{meetup.location}}</p>

                    </div>

                    <h6 class="mt-5 h6-responsive font-weight-bold">Temperatura</h6>
                    <div *ngIf="currentWeather" class="ml-n3">
                        <img src="http://openweathermap.org/img/w/{{currentWeather.weather[0].icon}}.png">
                        <span>{{currentWeather.main.temp | number: '1.0-0'}}º C</span>
                        <small class="ml-3">{{currentWeather.weather[0].description}}</small>
                    </div>
                </div>
            </div>
        </mdb-card>

        <!-- OVERVIEW MOBILE -->
        <div class="col-12 mt-3 d-block d-lg-none">
            <div class="row no-gutters">

                <!-- Cover event -->
                <div class="col-12 col-lg-8">
                    <img src="../../../../../assets/images/eventCover.jpeg" class="img-fluid w-100"
                        alt="Responsive image">
                </div>
                <!-- Title, Date and Organizer -->
                <div class="col-12 col-lg-4 m-3  pt-3">
                    <p class="font-weight-bold mb-0">{{meetup.title}}</p>

                    <p class="grey-text mb-0">
                        por {{meetup.organizer}}
                    </p>
                </div>

            </div>
            <div class="border-bottom mb-4"></div>
        </div>

        <!-- MOBILE CONTENT -->
        <div class="col-xl-8 d-block d-lg-none">
            <div class="row no-gutters">
                <div class="col-12">


                    <div class="row mt-3 no-gutters">
                        <!-- Date and time -->
                        <div class="col-2 pt-1">
                            <mdb-icon size="lg" class="ml-1" far icon="calendar-alt"></mdb-icon>
                        </div>
                        <div class="col-10">
                            <h6 class="h6-responsive font-weight-bold">Fecha</h6>
                            <div>
                                <p>{{meetup.date | date: 'dd/MM/yyyy'}}</p>
                            </div>
                        </div>
                    </div>

                    <!-- Location -->
                    <div class="row mt-2 no-gutters">
                        <div class="col-2 pt-1">
                            <mdb-icon size="lg" class="ml-1" fas icon="map-marker-alt"></mdb-icon>
                        </div>
                        <div class="col-10">
                            <h6 class="h6-responsive font-weight-bold">Ubicación</h6>
                            <div>
                                <p>{{ meetup.location }}</p>
                            </div>
                        </div>
                    </div>

                    <!-- Weather -->
                    <div class="row mt-2 no-gutters">
                        <div class="col-2 pt-1">
                            <mdb-icon size="lg" class="ml-1" fas icon="thermometer-half"></mdb-icon>
                        </div>
                        <div class="col-10">
                            <h6 class="h6-responsive font-weight-bold">Temperatura</h6>
                            <div *ngIf="currentWeather" class="ml-n3">
                                <p>
                                    <img src="http://openweathermap.org/img/w/{{currentWeather.weather[0].icon}}.png">
                                    <span>{{currentWeather.main.temp_max | number: '1.0-0'}}º C</span>
                                    <small class="ml-3">{{currentWeather.weather[0].description}}</small>
                                </p>
                            </div>
                        </div>
                    </div>

                    <!-- Subtitle and description -->
                    <div class="row mt-2 no-gutters">
                        <div class="col-2 pt-2">
                            <mdb-icon size="lg" class="ml-1" far icon="file-alt"></mdb-icon>
                        </div>
                        <div class="col-10 mb-5">
                            <h6 class="h6-responsive font-weight-bold">{{meetup.description}}</h6>
                            <div>
                                <p>{{ meetup.aboutMeetup }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Mobile Actions -->
    <footer class="page-footer font-small white fixed-bottom z-depth-top d-block d-lg-none">
        <div class="text-center py-3">
            <button *ngIf="canCheckin" (click)="checkIn()" class="w-75 deep-orange darken-1 white-text font-weight-bold"
                mdbBtn>Check-In</button>

            <button *ngIf="showChecked" class="w-100 deep-orange darken-1 white-text font-weight-bold disabled"
                mdbBtn>Asististe</button>

            <!-- Attend logged user -->
            <button *ngIf="isLogged && canAttend" (click)="attend()"
                class="w-75 deep-orange darken-1 white-text font-weight-bold" mdbBtn>Asistiré</button>

            <!-- Attend not logged user -->
            <button *ngIf="!isLogged && canAttend" (click)="openLoginModal()"
                class="w-75 deep-orange darken-1 white-text font-weight-bold" mdbBtn>Asistiré</button>

            <button *ngIf="showAttending" class="w-100 deep-orange darken-1 white-text font-weight-bold disabled"
                mdbBtn>Anotado</button>

            <button *ngIf="hasNotAttended" class="w-100 deep-orange darken-1 white-text font-weight-bold disabled"
                mdbBtn>No
                asististe</button>

            <button *ngIf="expiredMeetup" class="w-100 deep-orange darken-1 white-text font-weight-bold disabled"
                mdbBtn>Expirada</button>
        </div>
    </footer>
</div>