<!-- Default form login -->
<form class="text-center  p-4" [formGroup]="loginForm" (ngSubmit)="authenticate()">

    <p class="h4 mb-4">Iniciar sesion</p>

    <!-- Email -->
    <input formControlName="username" type="email" id="defaultLoginFormEmail" class="form-control mb-4"
        placeholder="E-mail">

    <!-- Password -->
    <input formControlName="password" type="password" id="defaultLoginFormPassword" class="form-control mb-4"
        placeholder="Password">

    <div class="d-flex justify-content-around">
        <div>
            <!-- Remember me -->
            <mdb-checkbox [default]="true">Recordarme</mdb-checkbox>
        </div>
        <div>
            <!-- Forgot password -->
            <a href="" class="deep-orange-text">Perdiste la password?</a>
        </div>
    </div>

    <!-- Sign in button -->
    <button mdbBtn color="deep-orange" block="true" class="my-4" type="submit">Ingresar</button>

    <!-- Register -->
    <p>No estas registrado?
        <a href="" class="deep-orange-text">Registrate</a>
    </p>

    <!-- Social login -->
    <!-- <p>o ingresar con:</p>

    <a type="button" class="light-blue-text mx-2">
        <mdb-icon fab icon="facebook"></mdb-icon>
    </a>
    <a type="button" class="light-blue-text mx-2">
        <mdb-icon fab icon="twitter"></mdb-icon>
    </a>
    <a type="button" class="light-blue-text mx-2">
        <mdb-icon fab icon="linkedin"></mdb-icon>
    </a>
    <a type="button" class="light-blue-text mx-2">
        <mdb-icon fab icon="github"></mdb-icon>
    </a> -->

</form>
<!-- Default form login -->