<mdb-card>
    <div class="view rgba-white-slight waves-light" mdbWavesEffect routerLink="/meetups/{{meetup.id}}">
        <!-- Card img -->
        <mdb-card-img src="../../../../../assets/images/beerPoster.jpg" alt="Card image cap"></mdb-card-img>
        <a>
          <div class="mask"></div>
        </a>
      </div>
    <!--Card image-->
    <!--Card content-->
    <mdb-card-body>

        <span class="deep-orange-text">{{meetup.date | date: 'mediumDate': 'utc'}}</span>
        <!--Title-->
        <mdb-card-title>
            <h5 class="h5-responsive font-weight-bold">{{meetup.title}}</h5>
        </mdb-card-title>

        <!--<a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a> -->
    </mdb-card-body>
</mdb-card>